/* Header Styles Start */
.header {
  display: grid;
  grid-template-columns: 1fr 166px 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  padding: 92px 24px 92px;
}

.header__links-list {
  display: flex;
  justify-content: center;
  gap: 34px;
  list-style: circle;
  font-size: 18px;
}

.header__links-list-item {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  height: 105px;
}

.header__address {
  margin-left: 178px;
}

.address {
  justify-self: flex-start;
}

.address-list {
  list-style: none;
}

.address-list-item {
  text-underline-offset: 4px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.34em;
  letter-spacing: 0.0035em;
}

/* Header Styles End */
/*-*/
/* Cover Styles Start */

.cover {
  position: relative;
  padding: 0 0 51px 0;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 160px 20px 135px 50px;
  width: 100%;
  z-index: 1;
}

.aligned-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  line-height: 1.26em;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text_center {
  display: flex;
  margin-left: 285px;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  margin-top: -5px;
}

.letter-spacing-extended {
  margin-right: 30px;
}

.no-letter-spacing {
  margin-right: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 50px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27em;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 28px;
  word-spacing: 19px;
}
.less-word__spacing {
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  color: white;
  font-size: 22px;

  padding: 12px 32px;
  margin-top: -14px;
  border: 1px solid white;
  text-transform: uppercase;
}

/* Cover Styles End */
/*-*/
/* Lots Styles Start */

.lots {
  padding: 179px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.175em;
  text-align: left;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  list-style: none;

  display: flex;
  gap: 25px;
  justify-content: center;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 100%;
  min-height: 560px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  padding: 51px 40px 48px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.182em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
}

.lots__look-more-link {
  display: flex;
  padding: 31px 40px 28px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15em;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.5px;
}

/* Lots Styles End */
/*-*/
/* About Styles Start */

.about {
  padding: 146px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
}

.about__column {
  padding: 8px 25px;
}

.about__logo {
  background: #000;
  display: flex;
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 50%;
}

.about__logo-image {
  margin: auto;
  height: 113px;
}

.about__title {
  padding: 102px 0 98px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.174em;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

/* About Styles End */
/*-*/
/* Footer Styles Start */

.footer {
  padding: 150px 50px 86px;
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  width: 100%;
  justify-content: end;
}

.footer__menu {
  justify-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.167em;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  list-style: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}
